*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.width-25{
    content: '';
    width: 25px;
    background-image: url("placeholder.jpg");
    background-size: cover;
   }

.show-box{
    border: aquamarine solid 2px;
}
.show-box-2{
    border: pink solid 5px;
}
.show-box-3{
    border: yellow solid 2px;
}
.show-box-4{
    border: grey solid 2px;
}
.width-26{
    content: '';
    width: 26px;
    background-image: url("ccs-org.png");
    background-size: cover;
   }