{% extends 'base.html' %}

{% block content %}



        <ul class="list-group col-12">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-9">
                    {%  for follower in followers %}
                        <p>{{ follower.login }}</p>
                        <p>{{ follower.name }}</p>
                        <p>{{ follower.url }}</p>
                        <p>{{ follower.bio }}</p>
                        {% endfor %}
                    </div>

                    <div class="col-3">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Follow</button>
                    </div>
                </div>
            </li>
        </ul>





{% endblock %}

